@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-header {
  background-color: #ececec;
  width: 100vw;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
}
