.stats-container {
  margin: 2rem 0;
  display: flex;
  align-items: baseline;
}

.stats-container:first-of-type {
  margin: 1rem 0;
}

.title {
  font-size: 1.5rem;
}

.larger {
  font-size: 2rem;
}

.stat {
  display: inline;
  margin-left: 0.5rem;
  font-style: italic;
}

.complete:after {
  content: '💯';
}

.zero:after {
  content: '😱';
}
